@using Inventario.Models;
@model IEnumerable<Usuario>

@{
    ViewBag.Title = "Usuários";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.BuildSortableLink("Nome", "Index", "Nome", queryOptions)</th>
            <th>@Html.BuildSortableLink("Email", "Index", "Email", queryOptions)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: usuarios">
        <tr>
            <td data-bind="text: Nome"></td>
            <td data-bind="text: Email"></td>
            <td>
                <a data-bind="attr: { href: '@Url.Action("Details")/' + Id }"
                   class="btn btn-info">Detalhes</a>
                <a data-bind="attr: { href: '@Url.Action("Edit")/' + Id }"
                   class="btn btn-primary">Editar</a>
                <a data-bind="attr: { href: '@Url.Action("Delete")/' + Id }"
                   class="btn btn-danger">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        function ViewModel(usuarios) {
            var self = this;

            self.usuarios = usuarios;
        };

        var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}
